<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="by.yakunina.copy.storage.mapper.AccountMapper">

    <resultMap id="AccountResultMap" type="by.yakunina.copy.model.auth.Account">
        <id column="account_id" property="id" javaType="by.yakunina.copy.model.support.EntityId" typeHandler="by.yakunina.copy.storage.support.EntityIdTypeHandler"/>

        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="roles" javaType="java.util.ArrayList" ofType="by.yakunina.copy.model.auth.Role">
            <result property="id" column="role_id" javaType="by.yakunina.copy.model.support.EntityId" typeHandler="by.yakunina.copy.storage.support.EntityIdTypeHandler"/>
            <result property="name" column="name" />
        </collection>
    </resultMap>

</mapper>