<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{::link})">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/signin.css" th:href="@{/css/signin.css}">
</head>

<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="text-center">
        <form class="form-signin" th:action="@{/account}" th:object="${account}" th:method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
            <p th:if="${loginError}" class="">Wrong user or password</p>
            <label for="name" class="sr-only">Username</label>
            <input type="text" id="name" th:field="*{username}" class="form-control" placeholder="Username" required
                   autofocus>
            <label for="passwd" class="sr-only">Password</label>
            <input type="password" id="passwd" th:field="*{password}" class="form-control" placeholder="Password"
                   required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

        </form>
    </main>
    <div th:replace="footer-component :: footer"/>
</div>
</body>
</html>