<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{::link})">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/static/css/signin.css" th:href="@{/css/signin.css}">
</head>

<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="text-center">
        <h1>Что-то пошло не так! Повторите попытку позже</h1>
        <a href="#" th:href="@{/}">Вернуться на главную страницу</a>

    </main>
    <div th:replace="footer-component::footer"></div>
</div>


</body>
</html>