<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="header"
        class="masthead d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}" class="text-dark">Copy Center</a></h5>
    <nav sec:authorize="isAuthenticated()" class="my-2 my-md-0 mr-md-3">
        <a sec:authorize="hasRole('USER')" class="p-2 text-dark" href="#">My profile</a>
        <a sec:authorize="hasRole('USER')" class="p-2 text-dark" th:href="@{/orders}">My Orders</a>
        <a sec:authorize="hasRole('ADMIN')" class="p-2 text-dark" th:href="@{/orders}">Orders</a>
    </nav>

    <a sec:authorize="isAnonymous()" class="btn btn-outline-primary" href="#" th:href="@{/login}">Sign in</a>
    <a sec:authorize="isAuthenticated()" class="btn btn-outline-primary" href="#" th:href="@{/logout}">Log out</a>
</header>