<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: header(~{::title},~{})">
    <title>Copy Centre Index</title>
</head>
<body>
<div class="container">
    <h1>Hello in copy center!</h1>
    <ul>
        <li><a href="/account" th:href="@{/account}">Sign up</a></li>
        <li><a href="/login" th:href="@{/login}">Sign in</a></li>
        <li><a href="/files" th:href="@{/files}">Files</a></li>
    </ul>

</div>

<div th:replace="common :: bootstrap"></div>

</body>
</html>