<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{::link})">
    <title>Заказ</title>
    <link rel="stylesheet" href="/static/css/signin.css" th:href="@{/css/signin.css}">
</head>

<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="col-md-6 offset-md-2">
        <h2>Информация о заказе</h2>
        <form th:action="@{/orders/{id}/edit(id=${order.getId().getId()})}" th:method="post" th:object="${orderForm}">
            <table class="table">
                <tbody>
                <tr>
                    <th>ID заказа</th>
                    <td th:text="${order.getId().getId()}">Order ID</td>
                </tr>
                <tr>
                    <th>Заказчик</th>
                    <td th:text="${order.getCustomer().getName()} + ' ' + ${order.getCustomer().getLastName()}">Customer</td>
                </tr>
                <tr th:if="${order.getEmployee()}">
                    <th>Сотрудник</th>
                    <td>
                        <select class="form-control" th:field="*{employeeId}">
                            <option th:value="${order.getEmployee().getId().getId()}" th:text="${order.getEmployee().getName()}" selected>Not assigned</option>
                            <option th:each="employee : ${employees}" th:value="${employee.getId().getId()}" th:text="${employee.getName()} + ' ' + ${employee.getLastName()}">1</option>
                        </select>
                    </td>
                </tr>
                <tr th:unless="${order.getEmployee()}">
                    <th>Сотрудник</th>
                    <td>
                        <select class="form-control" th:field="*{employeeId}">
                            <option th:value="null" th:text="'Не назначен'" selected>Not assigned</option>
                            <option th:each="employee : ${employees}" th:value="${employee.getId().getId()}" th:text="${employee.getName()} + ' ' + ${employee.getLastName()}">1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Статус</th>
                    <td>
                        <select class="form-control" th:field="*{status}">
                            <option th:value="${order.getStatus()}" th:text="${order.getStatus()}" selected>Not assigned</option>
                            <option th:value="'Ожидание обработки'" th:text="'Ожидание обработки'">1</option>
                            <option th:value="'В процессе выполнения'" th:text="'В процессе выполнения'">1</option>
                            <option th:value="'Готов'" th:text="'Готов'">1</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary" th:value="Сохранить"/>
        </form>
    </main>
    <div th:replace="footer-component::footer"></div>
</div>


</body>
</html>