<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{::link})">
    <title>Услуга</title>
    <link rel="stylesheet" href="/static/css/signin.css" th:href="@{/css/signin.css}">
</head>

<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="col-md-6 offset-md-2">
        <p>Хотите загрузить еще один файл для печати?</p>
        <form th:action="@{/orders/continue}" th:method="post">
            <input type="text" class="invisible" name="orderId" id="orderId" th:value="${orderId}">
            <input type="submit" class="btn btn-primary btn-lg active" th:value="Да"/>
            <a th:href="@{/service/${orderId}/save}" class="btn btn-secondary btn-lg active" role="button"
               aria-pressed="true">Нет</a>
        </form>

    </main>
    <div th:replace="footer-component::footer"></div>
</div>
</body>
</html>