<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{::link})">
    <title>Role</title>
    <link rel="stylesheet" href="/static/css/signin.css" th:href="@{/css/signin.css}">
</head>

<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="col-md-6 offset-md-2">
        <label>Would you like to upload one more file?</label>
        <a th:href="@{/files}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Yes</a>
        <a th:href="@{/service/${orderId}/save}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">No</a>
    </main>
    <div th:replace="footer-component::footer"></div>
</div>
</body>
</html>