<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::title},~{})">
    <title>Upload file</title>
</head>
<body th:replace="common::bootstrap(~{::div})">
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">

    <div th:replace="header-component :: header"/>

    <main class="col-md-6 offset-md-2">
        <div th:if="${message}">
            <p class="alert alert-danger" th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
                <input type="text" class="invisible" th:value="${orderId}" name="orderId" id="orderId"/>
                <div class="form-group">
                    <label for="file">File to upload:</label>
                    <input class="file-input" type="file" name="file" id="file"/>
                </div>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </main>
</div>
</body>
</html>